# Ignore large PDFs

pythonBOOK.pdf
10 Use Cases of LLMs in the Automotive Industry.pdf
Generative_deep_Learning.pdf
Python for Programmers with Introductory AI Case Studies by Paul Deitel, Harvey Deitel (z-lib.org) (1).pdf
